<h2><img class="avatar-small" src="<%=profileAvatar%>"> <%=profileName%>  
    <% if (user && user._id != profileId ){%>
      <% if(isFollowing) {%>
      <form class="ml-2 d-inline" action="/removefollower/<%=profileName%>" method="POST">
         <button class="btn btn-danger btn-sm">Stop Following <i class="fas fa-user-times"></i></button> 
      </form>
    <%}else{%>
      <form class="ml-2 d-inline" action="/addfollower/<%=profileName%>" method="POST">
        <button class="btn btn-primary btn-sm">Follow <i class="fas fa-user-plus"></i></button>
        <!-- <button class="btn btn-danger btn-sm">Stop Following <i class="fas fa-user-times"></i></button> -->
      </form>
    <%}}%>
  </h2>
    <div class="profile-nav nav nav-tabs pt-2 mb-4">
    <a href="/profile/<%=profileName%>" class="profile-nav-link nav-item nav-link <%=correntPage=='posts'?'active':' '%>">Posts: <%=counts.postsCount%></a>
    <a href="/profile/<%=profileName%>/followers" class="profile-nav-link nav-item nav-link <%=correntPage=='followers'?'active':' '%> ">Followers: <%=counts.followersCount%></a>
    <a href="/profile/<%=profileName%>/following" class="profile-nav-link nav-item nav-link <%=correntPage=='following'?'active':' '%> ">Following: <%=counts.followingCount%></a>
  </div>