<%-include('includes/header')%>
<div class="container py-md-5 container--narrow">
  <%-include('includes/flash')%>
   <%-include('includes/profile-shared')%>
   <%if (posts.length){%>
    <div class="list-group">
      <% posts.forEach(function(element){%>
        <a href="/post/<%=element._id%>" class="list-group-item list-group-item-action">
        <img class="avatar-tiny" src="<%=profileAvatar%>">
        <strong><%=element.title%></strong> <%= element.createDate.getDate() %>/<%= element.createDate.getMonth() + 1 %>/<%= element.createDate.getFullYear() %>
      </a>
        <%})%>
    </div>
      <%}else{%>
        <h1 class="my-4 text-danger">no post has been published yet</h1>
      <%}%>
  </div>
<%-include('includes/footer')%>